In [7]:
import pandas
import category_encoders as ce

df = pandas.read_csv("input.csv")

In [8]:
# shows that annotation_sequence == annotation_atomrec, though sometimes annotation_atomrec can be NAN
print(df[(df['annotation_sequence'] != df['annotation_atomrec'])
      & (~df['annotation_atomrec'].isnull())])

Empty DataFrame
Columns: [Unnamed: 0, annotation_sequence, feat_A, feat_C, feat_D, feat_E, feat_F, feat_G, feat_H, feat_I, feat_K, feat_L, feat_M, feat_N, feat_P, feat_Q, feat_R, feat_S, feat_T, feat_V, feat_W, feat_Y, annotation_atomrec, feat_PHI, feat_PSI, feat_TAU, feat_THETA, feat_BBSASA, feat_SCSASA, feat_pLDDT, feat_DSSP_H, feat_DSSP_B, feat_DSSP_E, feat_DSSP_G, feat_DSSP_I, feat_DSSP_T, feat_DSSP_S, feat_DSSP_6, feat_DSSP_7, feat_DSSP_8, feat_DSSP_9, feat_DSSP_10, feat_DSSP_11, feat_DSSP_12, feat_DSSP_13, coord_X, coord_Y, coord_Z, entry, entry_index, y_Ligand]
Index: []

[0 rows x 51 columns]

### Processing categorical data

In [9]:
#annotation_sequence
catDataLst = ['annotation_sequence', 'entry']
ce_be = ce.BinaryEncoder(cols=['annotation_sequence']);

# transform the data
annotation_binary = ce_be.fit_transform(df["annotation_sequence"]);
annotation_binary

,annotation_sequence_0,annotation_sequence_1,annotation_sequence_2,annotation_sequence_3,annotation_sequence_4
0,0,0,0,0,1
1,0,0,0,1,0
2,0,0,0,1,1
3,0,0,1,0,0
4,0,0,1,0,1
...,...,...,...,...,...
497161,0,1,0,0,1
497162,1,0,0,1,1
497163,0,0,0,1,0
497164,0,0,0,1,0
497165,1,0,0,0,1

In [10]:
#entry
ce_en = ce.BinaryEncoder(cols=['entry']);

# transform the data
entry_binary = ce_en.fit_transform(df["entry"]);
entry_binary

,entry_0,entry_1,entry_2,entry_3,entry_4,entry_5,entry_6,entry_7,entry_8,entry_9
0,0,0,0,0,0,0,0,0,0,1
1,0,0,0,0,0,0,0,0,0,1
2,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,0,0,1
4,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
497161,1,0,1,1,0,1,0,0,1,1
497162,1,0,1,1,0,1,0,0,1,1
497163,1,0,1,1,0,1,0,0,1,1
497164,1,0,1,1,0,1,0,0,1,1
497165,1,0,1,1,0,1,0,0,1,1

### Processing binary data

In [11]:
binaryDataLst=['feat_A', 'feat_C', 'feat_D', 'feat_E', 'feat_F', 'feat_G', 'feat_H', 'feat_I', 'feat_K', 'feat_L', 'feat_M', 'feat_N', 'feat_P', 'feat_Q', 'feat_R',
               'feat_S', 'feat_T', 'feat_V', 'feat_W', 'feat_Y', 'feat_DSSP_H', 'feat_DSSP_B', 'feat_DSSP_E', 'feat_DSSP_G', 'feat_DSSP_I', 'feat_DSSP_T', 'feat_DSSP_S']

ram2 = df[binaryDataLst].astype('int')
ram2.head(20)

,feat_A,feat_C,feat_D,feat_E,feat_F,feat_G,feat_H,feat_I,feat_K,feat_L,...,feat_V,feat_W,feat_Y,feat_DSSP_H,feat_DSSP_B,feat_DSSP_E,feat_DSSP_G,feat_DSSP_I,feat_DSSP_T,feat_DSSP_S
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
7,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,1
14,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,1
15,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
16,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
18,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
19,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0

### Processing number data

In [12]:
# getting the min max value of each one so we can hard-code later, as we cannot gurantee that the data for test case and train set are the same
nbrDataLst = ['feat_PHI', 'feat_PSI', 'feat_TAU', 'feat_THETA', 'feat_BBSASA', 'feat_SCSASA', 'feat_pLDDT', 'feat_DSSP_6', 'feat_DSSP_7', 'feat_DSSP_8',
               'feat_DSSP_9', 'feat_DSSP_10', 'feat_DSSP_11', 'feat_DSSP_12', 'feat_DSSP_13', 'coord_X', 'coord_Y', 'coord_Z']
for i in nbrDataLst:
    print("minVals['" + i + "'] = " + str(min(df[i])))
for i in nbrDataLst:
    print("maxVals['" + i + "'] = " + str(max(df[i])))

minVals['feat_PHI'] = -3.1415571167383507
minVals['feat_PSI'] = -3.141564187710805
minVals['feat_TAU'] = -3.141577913855544
minVals['feat_THETA'] = 0.0
minVals['feat_BBSASA'] = 0.0
minVals['feat_SCSASA'] = -2.8421709430404014e-14
minVals['feat_pLDDT'] = 0.0
minVals['feat_DSSP_6'] = -2281
minVals['feat_DSSP_7'] = -4.0
minVals['feat_DSSP_8'] = -2281
minVals['feat_DSSP_9'] = -4.0
minVals['feat_DSSP_10'] = -2280
minVals['feat_DSSP_11'] = -1.8
minVals['feat_DSSP_12'] = -2281
minVals['feat_DSSP_13'] = -2.9
minVals['coord_X'] = -149.3939971923828
minVals['coord_Y'] = -114.93099975585938
minVals['coord_Z'] = -152.83900451660156
maxVals['feat_PHI'] = 3.141574717512001
maxVals['feat_PSI'] = 3.141584348681896
maxVals['feat_TAU'] = 3.1415684740186545
maxVals['feat_THETA'] = 3.1371759095598963
maxVals['feat_BBSASA'] = 99.33834227406886
maxVals['feat_SCSASA'] = 220.051950154706
maxVals['feat_pLDDT'] = 98.98
maxVals['feat_DSSP_6'] = 2281
maxVals['feat_DSSP_7'] = 0.0
maxVals['feat_DSSP_8'] = 2281
maxVals['feat_DSSP_9'] = -0.0
maxVals['feat_DSSP_10'] = 2281
maxVals['feat_DSSP_11'] = 0.0
maxVals['feat_DSSP_12'] = 2282
maxVals['feat_DSSP_13'] = -0.0
maxVals['coord_X'] = 162.25
maxVals['coord_Y'] = 103.13500213623048
maxVals['coord_Z'] = 176.05999755859375

In [13]:
minVals = {}
maxVals = {}
minVals['feat_PHI'] = -3.1415571167383507
minVals['feat_PSI'] = -3.141564187710805
minVals['feat_TAU'] = -3.141577913855544
minVals['feat_THETA'] = 0.0
minVals['feat_BBSASA'] = 0.0
minVals['feat_SCSASA'] = -2.8421709430404014e-14
minVals['feat_pLDDT'] = 0.0
minVals['feat_DSSP_6'] = -2281
minVals['feat_DSSP_7'] = -4.0
minVals['feat_DSSP_8'] = -2281
minVals['feat_DSSP_9'] = -4.0
minVals['feat_DSSP_10'] = -2280
minVals['feat_DSSP_11'] = -1.8
minVals['feat_DSSP_12'] = -2281
minVals['feat_DSSP_13'] = -2.9
minVals['coord_X'] = -149.3939971923828
minVals['coord_Y'] = -114.93099975585938
minVals['coord_Z'] = -152.83900451660156
maxVals['feat_PHI'] = 3.141574717512001
maxVals['feat_PSI'] = 3.141584348681896
maxVals['feat_TAU'] = 3.1415684740186545
maxVals['feat_THETA'] = 3.1371759095598963
maxVals['feat_BBSASA'] = 99.33834227406886
maxVals['feat_SCSASA'] = 220.051950154706
maxVals['feat_pLDDT'] = 98.98
maxVals['feat_DSSP_6'] = 2281
maxVals['feat_DSSP_7'] = 0.0
maxVals['feat_DSSP_8'] = 2281
maxVals['feat_DSSP_9'] = -0.0
maxVals['feat_DSSP_10'] = 2281
maxVals['feat_DSSP_11'] = 0.0
maxVals['feat_DSSP_12'] = 2282
maxVals['feat_DSSP_13'] = -0.0
maxVals['coord_X'] = 162.25
maxVals['coord_Y'] = 103.13500213623048
maxVals['coord_Z'] = 176.05999755859375

In [14]:
normalized = pandas.DataFrame()
for i in nbrDataLst:
    normalized[i] = (df[i] - minVals[i])/(maxVals[i] - minVals[i])
normalized

,feat_PHI,feat_PSI,feat_TAU,feat_THETA,feat_BBSASA,feat_SCSASA,feat_pLDDT,feat_DSSP_6,feat_DSSP_7,feat_DSSP_8,feat_DSSP_9,feat_DSSP_10,feat_DSSP_11,feat_DSSP_12,feat_DSSP_13,coord_X,coord_Y,coord_Z
0,0.499999,0.859310,0.122002,0.623555,0.805536,6.226885e-01,0.388866,0.500000,1.000,0.500438,0.925,0.499890,1.000000,0.510191,1.000000,0.394344,0.505301,0.357706
1,0.324818,0.853988,0.077595,0.605893,0.700056,1.291591e-16,0.465549,0.500219,1.000,0.500438,0.950,0.499890,1.000000,0.499890,1.000000,0.398647,0.520893,0.361007
2,0.293828,0.925987,0.229957,0.783606,0.235432,4.025761e-01,0.660942,0.499562,0.925,0.655195,0.975,0.500110,1.000000,0.499671,1.000000,0.409018,0.519522,0.366869
3,0.125536,0.924235,0.052771,0.654801,0.049415,2.023216e-01,0.860477,0.499562,0.950,0.500438,0.975,0.654681,0.944444,0.654394,1.000000,0.408543,0.530046,0.376006
4,0.319440,0.915737,0.061548,0.724279,0.098076,2.390967e-01,0.942008,0.500000,1.000,0.500438,0.925,0.499890,1.000000,0.654394,0.931034,0.415894,0.539291,0.383036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497161,0.121377,0.915184,0.135497,0.698788,0.073624,2.226494e-01,0.967973,0.499562,0.975,0.421964,0.850,0.499233,0.944444,0.500329,0.862069,0.416026,0.622412,0.427244
497162,0.162132,0.888591,0.128869,0.500538,0.204356,2.095109e-01,0.976157,0.499562,0.925,0.421526,0.975,0.421399,0.944444,0.427570,0.965517,0.427074,0.614883,0.426268
497163,0.320971,0.460490,0.294358,0.738062,0.027822,1.291591e-16,0.945747,0.499562,0.900,0.427225,0.900,0.420960,0.888889,0.499671,0.965517,0.436363,0.616478,0.433927
497164,0.762779,0.035859,0.455369,0.743345,0.151927,1.291591e-16,0.941301,0.500000,1.000,0.500000,1.000,0.499890,1.000000,0.499890,1.000000,0.444122,0.620230,0.425124
497165,0.192016,0.065352,0.536864,0.655958,0.204667,6.729720e-01,0.916448,0.500000,1.000,0.500000,1.000,0.499890,1.000000,0.499890,1.000000,0.455449,0.614419,0.422409

###joining tables and create output

In [15]:
labels = pandas.DataFrame()
labels['pos'] = df['y_Ligand'].astype('int')
labels['neg'] = (~df['y_Ligand']).astype('int')
labels

        pos  neg
0         0    1
1         0    1
2         0    1
3         0    1
4         0    1
...     ...  ...
497161    0    1
497162    0    1
497163    0    1
497164    0    1
497165    0    1

[497166 rows x 2 columns]

In [16]:
output = annotation_binary.join(entry_binary)
output = output.join(ram2)
output = output.join(normalized)
output = output.join(df['y_Ligand'])
output

,annotation_sequence_0,annotation_sequence_1,annotation_sequence_2,annotation_sequence_3,annotation_sequence_4,entry_0,entry_1,entry_2,entry_3,entry_4,...,feat_DSSP_9,feat_DSSP_10,feat_DSSP_11,feat_DSSP_12,feat_DSSP_13,coord_X,coord_Y,coord_Z,pos,neg
0,0,0,0,0,1,0,0,0,0,0,...,0.925,0.499890,1.000000,0.510191,1.000000,0.394344,0.505301,0.357706,0,1
1,0,0,0,1,0,0,0,0,0,0,...,0.950,0.499890,1.000000,0.499890,1.000000,0.398647,0.520893,0.361007,0,1
2,0,0,0,1,1,0,0,0,0,0,...,0.975,0.500110,1.000000,0.499671,1.000000,0.409018,0.519522,0.366869,0,1
3,0,0,1,0,0,0,0,0,0,0,...,0.975,0.654681,0.944444,0.654394,1.000000,0.408543,0.530046,0.376006,0,1
4,0,0,1,0,1,0,0,0,0,0,...,0.925,0.499890,1.000000,0.654394,0.931034,0.415894,0.539291,0.383036,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
497161,0,1,0,0,1,1,0,1,1,0,...,0.850,0.499233,0.944444,0.500329,0.862069,0.416026,0.622412,0.427244,0,1
497162,1,0,0,1,1,1,0,1,1,0,...,0.975,0.421399,0.944444,0.427570,0.965517,0.427074,0.614883,0.426268,0,1
497163,0,0,0,1,0,1,0,1,1,0,...,0.900,0.420960,0.888889,0.499671,0.965517,0.436363,0.616478,0.433927,0,1
497164,0,0,0,1,0,1,0,1,1,0,...,1.000,0.499890,1.000000,0.499890,1.000000,0.444122,0.620230,0.425124,0,1
497165,1,0,0,0,1,1,0,1,1,0,...,1.000,0.499890,1.000000,0.499890,1.000000,0.455449,0.614419,0.422409,0,1

In [17]:
output.to_csv('normalized_input.csv')